@model IEnumerable<DigitalLibrary.Models.Book>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
